/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL HEIGHT */
html, body, #root {
  height: 100%;
  width: 100%;
   margin: 0;
}

/* DEFAULT FONT */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f4f6fb;
}
